/* Общие стили для всей страницы */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Стиль для кнопки перехода к профилю */
.profile-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
    text-decoration: none;
}

/* Стили для контейнера уроков */
.lessons-container {
    width: 100%;
    max-width: 960px;
    margin-top: 50px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    border-radius: 8px;
}

/* Стили для каждого урока */
.lesson {
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #e1e4e8;
    border-radius: 8px;
    transition: box-shadow 0.3s;
}

.lesson:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

/* Стили для кнопок уроков */
.lesson-btn {
    padding: 15px 20px;
    background-color: #007bff;
    color: white;
    width: 100%;
    text-align: left;
    border: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
}

.lesson-btn:hover {
    transform: scale(1.01); /* Увеличение размера при наведении */
    transition: transform 0.3s ease; /* Добавление плавности при изменении размера */
}

.lesson-content {
    padding: 20px;
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.lesson-content.active {
    display: block;
}

.youtube-player {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Задаем соотношение ширины к высоте 16:9 */
}

.youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
}

/* Стили для кнопки "Выберите файл" и зоны drag-and-drop */
.file-input {
    position: relative; /* Изменено на relative */
    width: 100%;
    padding: 10px;
    top: -10px; /* Изменено на -10px */
    left: -10px; /* Изменено на -10px */
    margin-top: 10px;
    border: 2px dashed #007bff;
    border-radius: 5px;
    background: #f8f9fa;
    text-align: center;
    transition: border-color 0.3s;
    overflow: hidden;
}

.file-input:hover {
    border-color: #0056b7;
}

.file-input input[type='file'] {
    position: absolute; /* Позиционирование изменено на absolute */
    width: calc(100% + 20px); /* Изменено на 100% + 20px */
    height: calc(100% + 20px); /* Изменено на 100% + 20px */
    top: -10px; /* Изменено на -10px */
    left: -10px; /* Изменено на -10px */
    opacity: 0;
    cursor: pointer;
}

.file-label {
    font-size: 16px;
    color: #007bff;
    cursor: pointer;
    display: block; /* Добавлено */
    padding: 10px; /* Добавлено */
}

/* Стили для кнопок действий (скачать, отправить) */
.button, .button-link {
    padding: 10px 15px;
    background-color: #007bff;  /* Яркий синий цвет */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.button:hover, .button-link:hover {
    background-color: #0056b7; /* Темно-синий при наведении */
}

.filter-form {
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f9fa; /* Светло-серый фон */
    border: 1px solid #ddd; /* Серебристая граница */
    border-radius: 8px; /* Скругленные углы */
    box-shadow: 0 4px 8px rgba(0,0,0,0.15); /* Тень для добавления глубины */
    width: 50%; /* Еще более уменьшенная ширина формы */
    max-width: 400px; /* Еще более уменьшенная максимальная ширина */
}

.filter-form p {
    margin: 10px 0;
    text-align: center; /* Центрирование текста */
    color: #333; /* Темно-серый цвет текста */
}

.filter-form .button {
    display: block; /* Блочный элемент */
    width: 100%; /* Ширина кнопки */
    padding: 10px 0; /* Паддинг сверху и снизу */
    margin-top: 10px; /* Отступ сверху */
    background-color: #007bff; /* Синий цвет */
    color: white; /* Белый текст */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center; /* Центрирование текста на кнопке */
}

.filter-form .button:hover {
    background-color: #0056b7; /* Темно-синий при наведении */
}

.filter-form select {
    width: 100%; /* Ширина выпадающего списка */
    padding: 12px; /* Увеличенный паддинг для более крупного вида */
    border-radius: 5px;
    border: 1px solid #007bff; /* Более толстая и яркая граница */
    background-color: white; /* Белый фон */
    margin-top: 5px; /* Отступ сверху */
    box-shadow: 0 2px 5px rgba(0,0,0,0.15); /* Более выраженная тень */
    appearance: none; /* Убрать стандартное оформление */
    cursor: pointer;
    outline: none;
}

.filter-form select:hover {
    border-color: #0056b7; /* Изменение цвета границы при наведении */
}

.filter-form select:focus {
    box-shadow: 0 0 8px rgba(0,123,255,0.5); /* Световой эффект при фокусировке */
}
