/* login.css */
body{
    height: 150px;
}

.login-head-text {
  text-align: center;
  font-size: 35px;
  padding: 15px;
}

.login-header {
    background-color: rgba(255, 255, 255, 0.8);
}

/* Стили для контейнера формы */
.login-container {
    width: 10vw; /* Ширина контейнера */
    padding: 7vw;
    background-color: rgba(255, 255, 255, 0.8); /* Прозрачный белый цвет фона */
    border: 1px solid #ddd;
    border-radius: 30px;
    border-color: rgba(28, 78, 176, 1);
    position: relative;
    left: 35vw;
    bottom: 35vw;
    min-width: 250px;
}

/* Стили для поля ввода */
input[type="text"],
input[type="password"] {
    width: calc(100% - 20px); /* Вычитаем padding из ширины */
    padding: 10px;
    margin-bottom: 15px; /* Отступ между полями ввода */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Гарантирует, что padding не увеличивает ширину поля */
}

/* Стили для кнопки */
input[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color: rgba(28, 78, 176, 1); /* Синий цвет кнопки */
    color: #fff; /* Белый текст на кнопке */
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold; /* Жирный шрифт для текста на кнопке */
    font-size: 25px;
    transition: background-color 0.3s; /* Плавное изменение цвета при наведении */
    position: absolute;
    left: 25%;
    top: 85%;
}

/* Стили для сообщений об ошибках */
.error-message {
    color: #ff0000; /* Красный цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    font-size: 16px; /* Размер шрифта для сообщения об ошибке */
    margin: 10px 0; /* Отступы сверху и снизу */
    font-weight: bold; /* Жирный шрифт для текста ошибки */
}