/* profile.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.logo, .logo__name {
    text-align: center;
}

.logo img {
    width: 100px;
}

.logo__name {
    color: #333;
    font-weight: bold;
    font-size: 24px;  /* Увеличение размера для лучшей видимости */
}

h1 {
    color: #000000;  /* Изменение цвета заголовка на красный */
    margin: 20px 0;
}

.error-message {
    background-color: #f6ebeb;  /* Светло-красный фон для ошибки */
    color: #a94442;  /* Темно-красный цвет текста */
    padding: 15px;
    border: 1px solid #ebccd1;
    border-radius: 5px;
    margin: 20px 0;
    width: 80%;  /* Ширина блока с ошибкой */
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);  /* Добавление тени для лучшего выделения */
}

.logout-buttonn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    width: auto;
    margin: 20px auto;  /* Центрирование кнопки */
}

.logout-buttonn:hover {
    background-color: #0056b3;
}

/* Дополнительные стили */
p {
    text-align: center;  /* Выравнивание текста по центру */
    color: #666;  /* Серый цвет текста */
}

/* Стили для адаптивности и общего вида */
@media (max-width: 768px) {
    .logo img {
        width: 80px;
    }

    .logo__name, h1 {
        font-size: 20px;
    }

    .error-message, .logout-buttonn {
        width: 90%;  /* Увеличение ширины на малых экранах */
    }
}
