{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/login.css' %}">
</head>
<body>
<div id="header">
    <img src="{% static 'main/images/logo_item.png' %}" alt="Wiskunde Logo" class="logo">
    <h1>Log-in</h1>
    <p>Please, use the following form to log-in:</p>
    <p>You wrote wrong password!</p>
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Log-in"></p>
    </form>
</div>
</body>
</html>
