/* login.css */

/* Стили для заголовка */
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center; /* Выравнивание текста по центру */
    font-family: 'Lato', sans-serif; /* Оформление шрифта */
}

/* Стили для параграфа */
p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px; /* Уменьшаем расстояние между параграфами */
    text-align: center; /* Выравнивание текста по центру */
    font-family: 'Lato', sans-serif; /* Оформление шрифта */
}

/* Стили для формы */
form {
    width: 300px;
    margin: 0 auto;
}

/* Стили для поля ввода */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; /* Уменьшаем расстояние между полями ввода */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Стили для кнопки */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
