{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ошибка</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/error.css' %}">
</head>
<body>
    <a href="/" class="logo">
        <img src="{% static 'main/images/logo_item.png' %}" alt="Wiskunde">
    </a>
    <a href="/" class="logo__name">Wiskunde</a>
    <h1>Ошибочка</h1>
    <p>Упс. Какая-то ошибка. Наверное это:</p>
    <p class="error-message">{{ error }}</p>
    <a href="{% url 'logout' %}" class="logout-buttonn">На главную</a>
</body>
</html>
