{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Расписание занятий</title>
    <link rel="stylesheet" href="{% static 'user/css/schedule.css' %}">
</head>
<body>
    <h1>Расписание занятий</h1>
    <table>
        <thead>
            <tr>
                <th>День недели</th>
                <th>Дата</th>
                <th>Время занятий</th>
            </tr>
        </thead>
        <tbody>
            {% for item in schedule_data %}
            <tr class="{% if item.is_today %}today-highlight{% endif %}">
                <td>
                    {% if item.date.weekday == 0 %}Понедельник
                    {% elif item.date.weekday == 1 %}Вторник
                    {% elif item.date.weekday == 2 %}Среда
                    {% elif item.date.weekday == 3 %}Четверг
                    {% elif item.date.weekday == 4 %}Пятница
                    {% elif item.date.weekday == 5 %}Суббота
                    {% elif item.date.weekday == 6 %}Воскресенье
                    {% endif %}
                </td>
                <td>{{ item.date|date:"d.m.Y" }}</td>
                <td>
                    {% if item.time != "В этот день нет занятий" %}
                        {{ item.time }} - {{ item.time_finally }}
                    {% else %}
                        {{ item.time }}
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Расписание недоступно.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if class_comment %}
        <div class="class-comment">
            <b><p>{{ class_comment }}</p></b>
        </div>
    {% endif %}
    <a href="{% url 'userinfo' %}" class="back-button">Назад</a>
</body>
</html>
